In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("evade.xlsx", index_col = 0)
data.head()

     Refund  Marital_Status  Taxable_Income  Evade
Tid
1         1               0          125000      0
2         0               1          100000      0
3         0               0           70000      0
4         1               1          120000      0
5         0               2           95000      1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Refund          10 non-null     int64
 1   Marital_Status  10 non-null     int64
 2   Taxable_Income  10 non-null     int64
 3   Evade           10 non-null     int64
dtypes: int64(4)
memory usage: 400.0 bytes

In [8]:
feature = data[['Refund', 'Marital_Status', 'Taxable_Income']]
target = data[['Evade']]

In [9]:
feature

     Refund  Marital_Status  Taxable_Income
Tid
1         1               0          125000
2         0               1          100000
3         0               0           70000
4         1               1          120000
5         0               2           95000
6         0               1           60000
7         1               2          220000
8         0               0           85000
9         0               1           75000
10        0               0           90000

In [11]:
target

     Evade
Tid
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        1
9        0
10       1

In [12]:
from sklearn.naive_bayes import GaussianNB
from sklearn.utils.validation import column_or_1d

In [14]:
#Tao model
model = GaussianNB()
model.fit(feature, column_or_1d( target))

GaussianNB()

In [17]:
#kiem tra do chinh xac 
print("The pridiction accuracy is: ", model.score(feature, np.array(target) )* 100, "%")

The pridiction accuracy is:  100.0 %

In [18]:
#X_test = [['No', 'Maried', 120000], ["No", "Single", 90000]]
X_test = [[0, 1, 120000], [0, 0, 90000]]
y_pre = model.predict(X_test)
y_pre

array([0, 1], dtype=int64)

In [20]:
import pickle
#Save to file in the current working directory
plk_filename = "pickle_model.plk"
with open(plk_filename , 'wb') as file:
    pickle.dump(model, file)

In [21]:
with open(plk_filename, "rb") as file:
    pickle_model = pickle.load(file)

In [22]:
X_test = [[0, 0, 75000]]
y_test = pickle_model.predict(X_test)
y_test

array([0], dtype=int64)