In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

D:\ProgramFile\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
data = pd.read_excel("playgolf_data.xlsx")
data.head()

   Day   Outlook Temperature Humidity    Wind Play Golf
0    1     Sunny         Hot     High    Weak        No
1    2     Sunny         Hot     High  Strong        No
2    3  Overcast         Hot     High    Weak       Yes
3    4      Rain        Mild     High    Weak       Yes
4    5      Rain        Cool   Normal    Weak       Yes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     int64
 1   Outlook      14 non-null     object
 2   Temperature  14 non-null     object
 3   Humidity     14 non-null     object
 4   Wind         14 non-null     object
 5   Play Golf    14 non-null     object
dtypes: int64(1), object(5)
memory usage: 800.0+ bytes

In [16]:
features = data.drop(["Play Golf", "Day"], axis = 1)
target = data[['Play Golf']]

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
features = pd.get_dummies(features)
features

,Outlook_Overcast,Outlook_Rain,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild,Humidity_High,Humidity_Normal,Wind_Strong,Wind_Weak
0,0,0,1,0,1,0,1,0,0,1
1,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1
5,0,1,0,1,0,0,0,1,1,0
6,1,0,0,1,0,0,0,1,1,0
7,0,0,1,0,0,1,1,0,0,1
8,0,0,1,1,0,0,0,1,0,1
9,0,1,0,0,0,1,0,1,0,1
10,0,0,1,0,0,1,0,1,1,0
11,1,0,0,0,0,1,1,0,1,0
12,1,0,0,0,1,0,0,1,0,1
13,0,1,0,0,0,1,1,0,1,0

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
#Model theo gini
model = DecisionTreeClassifier()
#train model
model.fit(features,target)

DecisionTreeClassifier()

In [21]:
#kiem tra do chinh xac
print("The prediction accuracy is: ", model.score(features,target)*100, "%")

The prediction accuracy is:  100.0 %

In [22]:
#predict 
x_now = [[1,0,0,0,1,0,1,0,1,0]]
y_now = model.predict(x_now)
y_now

array(['Yes'], dtype=object)

In [23]:
#Model theo entropy
model1 = DecisionTreeClassifier(criterion="entropy")
#train model
model1.fit(features,target)

DecisionTreeClassifier(criterion='entropy')

In [24]:
#kiem tra do chinh xac
print("The prediction accuracy is: ", model1.score(features,target)*100, "%")

The prediction accuracy is:  100.0 %

In [25]:
#predict 
x_now = [[1,0,0,0,1,0,1,0,1,0]]
y_now = model.predict(x_now)
y_now

array(['Yes'], dtype=object)