In [2]:
import pandas as pd
import numpy as numpy

In [3]:
dataset = pd.read_csv('mushrooms.csv', sep=",")
print(dataset.shape)

(8124, 23)

In [4]:
dataset.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [5]:
y = dataset['class']
x = dataset.drop(['class'], axis=1)
x = pd.get_dummies(x)
x.head()

,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,...,population_s,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
y.head()

0    p
1    e
2    e
3    p
4    e
Name: class, dtype: object

In [7]:
# trong trường hợp có quá nhiều cột dữ liệu có thể dùng dummy encoder để tạo các cột cần thiết mà không trùng lắp
features= pd.get_dummies(x, drop_first=True)
target = y

In [8]:
features.head()

,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,...,population_s,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
0,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [9]:
# Đếm theo loại
occ = target.value_counts()
occ

<class 'pandas.core.series.Series'>

In [11]:
#->2 lop co so luong gan ngang nhau

In [12]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(features, target, 
                                                    test_size=0.3,
                                                    random_state = 42)

In [13]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(features, target, 
                                                    test_size=0.3,
                                                    random_state = 42)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.utils.validation import column_or_1d

In [15]:
tree_n = DecisionTreeClassifier(criterion= 'entropy') # criterion= 'entropy'
tree_n.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [16]:
# Kiểm tra độ chính xác
print("The Training prediction accuracy is:",
      tree_n.score(X_train,y_train)*100,"%")
print("The Testing prediction accuracy is:",
      tree_n.score(X_test,y_test)*100,"%")

The Training prediction accuracy is: 100.0 %
The Testing prediction accuracy is: 100.0 %

In [17]:
y_pred = tree_n.predict(X_test)

In [19]:
# Xem kết quả thống kê
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1257    0]
 [   0 1181]]
              precision    recall  f1-score   support

           e       1.00      1.00      1.00      1257
           p       1.00      1.00      1.00      1181

    accuracy                           1.00      2438
   macro avg       1.00      1.00      1.00      2438
weighted avg       1.00      1.00      1.00      2438